@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    color: #3c3c3c;
    font-weight: 300;
    width: 768px;
    margin: 32px auto;
}
#contenedor p{
    margin: 24px 0px;
    padding: 24px;
    background-color: #eec1fb;
}
    /*#contenedor p:nth-child(odd){
        impares
        background-color: #eec1fb;
    }*/
    #contenedor p:nth-child(even){
        /* pares */
        background-color: #fbc1c1;
    }

#contenedor2 p{
    margin: 24px 0px;
    padding: 24px;
    background-color: #d8d8d8;
}
    #contenedor2 p:nth-child(3n){
        background-color: #c5fff0;
    }
