@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    color: #3c3c3c;
    font-weight: 300;
    background-color: #2d203b;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
    #contenedor{
        height: 50vh;
        width: 50vw;
        background-color: #fff;
    }