@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #3D4043;
    font-weight: 300;
    color: #3D4043;
    font-family: 'Barlow Condensed', sans-serif;
}
a{
    text-decoration: none;
}
/* 1024 */
header{
    max-width: 1024px;
    height: 80px;
    margin: auto;
    background-color: #F17580;
    display: flex;
    justify-content: space-between;
    align-items: center; /* alinear en vertical */
}

header a{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
/* navegación */
header nav a{
    font-size: 20px;
    padding: 10px;
}
header a img{
    margin: 0px 12px;
    vertical-align: middle;
}

/* selector de atributo */
img[alt="hamburger"]{
    /* ocultamos el hamburger */
    display: none;
}

main{
    max-width: 1024px;
    margin: auto;
}

#hero-banner{
    height: 800px;
    background-color: #F17580;
    background-image: url(../imgs/hero-banner.jpg);
    background-repeat: no-repeat;
    background-position: -280px 0px;

    display: flex;
    justify-content: end;
    align-items: center;
}
    #hero-banner div{
        width: 164px;
        margin-right: 80px;
        text-align: center;
    }
    #hero-banner div h1{
        font-size: 32px;
        color: #fff;
        margin-bottom: 24px;
    }
    #hero-banner div a{
        border: 1px solid #fff;
        border-radius: 8px;
        display: block;
        width: 164px;
        padding: 12px ;
        color: #fff;
        font-size: 24px;
        transition: 500ms;
    }
    #hero-banner div a:hover{
        background-color: #fff;
        color: #F17580;
    }



/* 768 */
@media ( max-width: 768px ){
    header{
        max-width: 768px;
        display: block;
    }
    header a img{
        margin-top: 8px;
    }
    /*navegación*/
    header nav{
        position: relative;
        z-index: -10;
        transform: translateY( -300px );
        transition: 500ms;
    }
    .desplegado{
        transform: translateY( 0px );
    }
    header nav a{
        text-align: center;
        display: block;
        background-color: #F17580;
        transition: 500ms;
    }
    header nav a:hover{
        background-color: #EF626E;
    }

    img[alt="hamburger"]{
        /* mostramos el hamburger */
        display: inline;
        width: 32px;
        position: absolute;
        /*left: calc( 768px - 32px - 12px );*/
        right: 12px;
        top: 24px;
    }

    main{
        max-width: 768px;
    }
    #hero-banner{
        height: 1002px;
        background-position: -204px 0px;
        align-items: end;
        justify-content: center;
    }
        #hero-banner div{
            margin-right: 0px;
            margin-bottom: 32px;
            width: 282px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        #hero-banner div h1{
            width: 100%;
        }


}