@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #3D4043;
    font-weight: 300;
    color: #3D4043;
    font-family: 'Barlow Condensed', sans-serif;
}
a{
    text-decoration: none;
}
/* 1024 */
header{
    max-width: 1024px;
    height: 80px;
    margin: auto;
    background-color: #F17580;
    display: flex;
    justify-content: space-between;
    align-items: center; /* alinear en vertical */
}

header a{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
/* navegación */
header nav a{
    font-size: 20px;
    padding: 10px;
}
header a img{
    margin: 0px 12px;
    vertical-align: middle;
}

/* selector de atributo */
img[alt="hamburger"]{
    /* ocultamos el hamburger */
    display: none;
}

main{
    max-width: 1024px;
    margin: auto;
}

#hero-banner{
    height: 800px;
    background-color: #F17580;
    background-image: url(../imgs/hero-banner.jpg);
    background-repeat: no-repeat;
    background-position: -280px 0px;

    display: flex;
    justify-content: end;
    align-items: center;
}
    #hero-banner div{
        width: 164px;
        margin-right: 80px;
        text-align: center;
    }
    #hero-banner div h1{
        font-size: 32px;
        color: #fff;
        margin-bottom: 24px;
    }
    #hero-banner div a{
        border: 1px solid #fff;
        border-radius: 8px;
        display: block;
        width: 164px;
        padding: 12px ;
        color: #fff;
        font-size: 24px;
        transition: 500ms;
    }
    #hero-banner div a:hover{
        background-color: #fff;
        color: #F17580;
    }
#servicios {
    height: 288px;
    background-color: #fff;
    margin: 56px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 128px;
    row-gap: 24px;
}
    #servicios div{
        width: 384px;
        height: 128px;
        position: relative;
        padding: 24px 0px 0px 144px;
        /* margin: 12px 64px; */
    }
        #servicios div::before{
            position: absolute;
            left: 0px;
            top: 0px;
        }
        #servicios div p{
            margin-top: 16px;
        }
    #servicios div:nth-child(1)::before{
        content: url("../imgs/delivery.png");
    }
    #servicios div:nth-child(2)::before{
        content: url("../imgs/wallet.png");
    }
    #servicios div:nth-child(3)::before{
        content: url("../imgs/gift.png");
    }
    #servicios div:nth-child(4)::before{
        content: url("../imgs/customer-service.png");
    }

/* logos de font awesome */
.fa-brands{
    font-size: 24px;
    color: #fff;
    font-style: normal;
}

/* footer */
footer{
    width: 1024px;
    height: 160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
    footer a{
        color: #fff;
        font-weight: 600;
    }
    img[alt="Logo Sakura"]{
        vertical-align: middle;
        width: 32px;
        margin-right: 8px;
    }
    footer div i{
        margin: 6px;
    }

/* 768 */
@media ( max-width: 768px ){
    header{
        max-width: 768px;
        display: block;
    }
    header a img{
        margin-top: 8px;
    }
    /*navegación*/
    header nav{
        position: relative;
        z-index: -10;
        transform: translateY( -300px );
        transition: 500ms;
    }
    .desplegado{
        transform: translateY( 0px );
    }
    header nav a{
        text-align: center;
        display: block;
        background-color: #F17580;
        transition: 500ms;
    }
    header nav a:hover{
        background-color: #EF626E;
    }

    img[alt="hamburger"]{
        /* mostramos el hamburger */
        display: inline;
        width: 32px;
        position: absolute;
        /*left: calc( 768px - 32px - 12px );*/
        right: 12px;
        top: 24px;
    }

    main{
        max-width: 768px;
    }
    #hero-banner{
        height: 1002px;
        background-position: -204px 0px;
        align-items: end;
        justify-content: center;
        position: relative;
        z-index: -20;
    }
        #hero-banner div{
            margin-right: 0px;
            margin-bottom: 32px;
            width: 282px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        #hero-banner div h1{
            width: 100%;
        }

/* sección servicios */
    #servicios{
        height: 192px;
        column-gap: 80px;
        row-gap: 32px;
    }
        #servicios div{
            width: 312px;
            height: 80px;
            padding: 14px 0px 0px 80px;
        }
        #servicios div::before{
            top:8px;
        }
        #servicios div:nth-child(1)::before{
            content: url("../imgs/delivery-2.png");
        }
        #servicios div:nth-child(2)::before{
            content: url("../imgs/wallet-2.png");
        }
        #servicios div:nth-child(3)::before{
            content: url("../imgs/gift-2.png");
        }
        #servicios div:nth-child(4)::before{
            content: url("../imgs/customer-service-2.png");
        }
        #servicios div h2{
            font-size: 16px;
        }
        #servicios div p{
            margin-top: 8px;
        }

        footer{
            width: 768px;
            height: 120px;
        }
}