@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #3D4043;
    font-weight: 300;
    color: #3D4043;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2em;
}
    main{
        background-color: #cccccc;
        width: 768px;
        margin: auto;
        padding: 0px 32px;
    }
    h1,h2{
        margin: 32px;
    }
        #contenedor{
            background-color: #fff;
            padding: 64px;
            border-radius: 16px;
        }
        #contenedor::before{
            /*content: '💝';*/
            content: url("../imgs/quote.png");
            position: relative;
            top:-128px;
            left: 420px;
        }